.newGame {
  font-size: 4rem;
  border-radius: 10px;
  padding: 20px 20px;
}

.startAgain {
  position: absolute;
  top: 10px;
  left: 10px;
  border: 2px solid transparent;
}

.stats {
  color: #fff;
  font-size: 2rem;
  position: absolute;
  right: 10px;
  top: 10px;
}

.gameContainer {
  padding: 15px;
  min-width: 300px;
}

.currentWord {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 3rem;
  text-align: center;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.button {
  max-width: 400px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  display: block;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  cursor: pointer;
  transition: all 0.2s ease;
  border: 2px solid transparent;
  text-decoration: none;
  text-align: center;
}

.button:disabled {
  color: #c9c9c9;
  cursor: default;
}

.correct {
  background-color: green;
}

.answerGiven {
  width: 100%;
  margin-top: 2rem;
}